# ignore
#*
#*/
/out
/.git
/.idea
#/CS209A_Assignment1
#/CS209A_Assignment2
#/CS209A_Project

## not ignore directory
#!/Lab*
#!/src
## not ignore files
#!.gitignore
#!*.java
#!*.md
#!*.txt
#!*.pdf

## some specific files
#!Lab6/rt.jar
#!Lab6/src.zip

# some code of git
# git rm --cached -r "chat-master"
