<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Web of CS209A Project</title>
  <!--  Import echarts lib by CDN, you can also import from local files  -->
  <script src='https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js'></script>
  <script
      src="https://cdn.jsdelivr.net/npm/echarts-wordcloud@2/dist/echarts-wordcloud.min.js"></script>
  <!--  Import the data files  -->
  <script src='../js/Accepted_1.js'></script>
  <script src='../js/Accepted_2.js'></script>
  <script src='../js/Accepted_3.js'></script>
  <style>
    body {
      text-align: center;
      background-image: url("../img/skyline of NYC.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
  </style>
</head>

<body>
<h1>Basic Requirements</h1>
<h2>Accepted Answers</h2>
<div style="width: 100%; height: 60vh; display: flex">
  <div style="width: 30%; height: 100%">
    <div id="acc1" style="height: 100%; width: 100%"></div>
  </div>
  <div style="width: 40%; height: 100%">
    <div id="acc2" style="height: 100%; width: 100%"></div>
  </div>
  <div style="width: 30%; height: 100%">
    <div id="acc3" style="height: 100%; width: 100%"></div>
  </div>
</div>
</body>

<script>
  <!--  echarts configuration  -->
  let acc1 = echarts.init(document.getElementById('acc1'));
  let acc1data = [];
  for (const key in Accepted_1) {
    acc1data.push({
      name: key,
      value: Accepted_1[key]
    })
  }
  let acc1option = {
    title: {
      text: 'Q2-1: accepted questions percentage',
    },
    tooltip: {
      trigger: 'item'
    },
    grid: {
      width: '100%',
      height: '100%'
    },
    legend: {
      orient: 'vertical',
      textStyle: {
        fontSize: 20,
        color: 'black'
      },
      right: 'center',
      bottom: 'bottom',
    },
    series: [
      {
        name: 'Question Percentage',
        type: 'pie',
        radius: '80%',
        data: acc1data,
        color: ['#3CB371', '#DC143C'],
        emphasis: {
          itemStyle: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0.1, 0.2, 0, 0.5)',
          }
        },
        itemStyle: {
          normal: {
            label: {
              textStyle: {
                fontSize: 12,
                color: 'black'
              }
            }
          }
        }
      }
    ]
  };
  acc1.setOption(acc1option);

  let acc2 = echarts.init(document.getElementById('acc2'));
  let acc2name = ["0-10", "10-100", "100-1000", "1000-10000", "10000-100000", "100000-1000000",
    "1000000-"];
  let acc2data = [];
  let key = '';
  for (key of acc2name) {
    acc2data.push(distribution[key]);
  }
  let acc2option = {
    title: {
      text: 'Q2-2: distribution of question resolution time'
    },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
      data: ['number of answers']
    },
    toolbox: {
      show: true,
      feature: {
        dataView: {show: true, readOnly: false},
        magicType: {show: true, type: ['line', 'bar']},
        restore: {show: true},
        saveAsImage: {show: true}
      }
    },
    calculable: true,
    xAxis: [
      {
        type: 'category',
        data: acc2name
      }
    ],
    yAxis: [
      {
        type: 'value'
      }
    ],
    series: [
      {
        name: '问题数量',
        type: 'bar',
        data: acc2data,
        markPoint: {
          data: [
            {type: 'max', name: '最大值'},
            {type: 'min', name: '最小值'}
          ]
        },
        markLine: {
          data: [
            {type: 'average', name: '平均值'}
          ]
        }
      }
    ]
  };
  acc2.setOption(acc2option);

  let acc3 = echarts.init(document.getElementById('acc3'));
  let acc3data = [];
  for (const key in Accepted_3) {
    acc3data.push({
      name: key,
      value: Accepted_3[key]
    })
  }
  let acc3option = {
    title: {
      text: 'Q2-3: have more upvotes non-accepted answers percentage',
    },
    tooltip: {
      trigger: 'item'
    },
    grid: {
      width: '100%',
      height: '100%'
    },
    legend: {
      orient: 'vertical',
      textStyle: {
        fontSize: 20,
        color: 'black'
      },
      right: 'center',
      bottom: 'bottom',
    },
    series: [
      {
        name: 'Question Percentage',
        type: 'pie',
        radius: '80%',
        data: acc3data,
        color: ['#3CB371', '#DC143C'],
        emphasis: {
          itemStyle: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0.1, 0.2, 0, 0.5)',
          }
        },
        itemStyle: {
          normal: {
            label: {
              textStyle: {
                fontSize: 12,
                color: 'black'
              }
            }
          }
        }
      }
    ]
  };
  acc3.setOption(acc3option);
</script>

</html>