<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Web of CS209A Project</title>
  <style>
    body {
      text-align: center;
      background-image: url("../img/skyline of NYC.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
  </style>
</head>

<body>
<h1>CS209A Project, Welcome!</h1>
<h3>Author: 冯晨晨 余坤屹</h3>
<a href="https://github.com/starquakee/Java2-Project">Github link, click me</a>
<br><br><br>
<a href="/1" style="font-size: x-large">Q1: Number of Answers</a>
<br><br>
<a href="/2" style="font-size: x-large">Q2: Accepted Answers</a>
<br><br>
<a href="/3" style="font-size: x-large">Q3: Tags</a>
<br><br>
<a href="/4" style="font-size: x-large">Q4: Users</a>
<br><br>
<a href="/plus1" style="font-size: x-large">Advanced: Java APIs</a>

</body>
</html>